<div class="h-screen hidden lg:block shadow-lg relative w-60">
  <div class="bg-white h-full dark:bg-gray-700">
    <div class="flex items-center justify-center pt-6">
      <svg width="35" height="30" viewBox="0 0 256 366" version="1.1" preserveAspectRatio="xMidYMid">
        <defs>
          <linearGradient x1="12.5189534%" y1="85.2128611%" x2="88.2282959%" y2="10.0225497%" id="linearGradient-1">
            <stop stop-color="#FF0057" stop-opacity="0.16" offset="0%">
            </stop>
            <stop stop-color="#FF0057" offset="86.1354%">
            </stop>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <nav class="mt-6">
      <div>
        <app-sidebar-item
          routerLink='/dashboard'
          routerLinkActive #dash="routerLinkActive"
          [active]="dash.isActive ? true: false"
          page='dashboard'
          icon='home'>
        </app-sidebar-item>
        <app-sidebar-item
          routerLink='/client'
          routerLinkActive #client="routerLinkActive"
          [active]="client.isActive ? true: false"
          page='cliente'
          icon='person'>
        </app-sidebar-item>
      </div>
    </nav>
  </div>
</div>
